<style>
div.header-box {
	border: 1px solid #DDD;
	margin-right: 5px;
}
div.header-box-subtitle {
	font-weight: bold;
	white-space: nowrap;
}
div.header-mapping-row {
	white-space: nowrap;
}
div.header-title {
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #DDD;
    background-color: #D7EEFF;
    white-space: nowrap;
}
div.header-mapping {
	font-size: 10pt;
	margin-top: 0.5rem;
	border-top: 1px solid #DDD;
	padding-top: 2px;
}
div.header-mapping-title {
    font-weight: bold;
    border-bottom: 1px solid #DDD;	
    background-color: #D7FFEE;
}
div.header-mapping-body {
	font-size: 9pt;
	white-space: nowrap;
}
input[readonly].readonly {
  background-color:#EEE;
  border: 0;
  font-size: 1em;
}

</style>

<template id='header-mapping-template'>
<div>
	<div style="display: flex; overflow: auto;">
		<div v-for="h in header_mapping.data" class="header-box">
			<div class="header-title">
				{{h.header.name}}
				<small v-if='can_edit'><a href='#' @click.prevent='h.header.name=edit_string(h.header.name)'>✎</a></small>
			</div>
			<div class="header-mapping-body">
				<div v-if="typeof h.header.kind.WikiPage!='undefined'">
					<div class="header-box-subtitle"><span tt="column_type"></span>: <span tt="wiki_page"></span></div>
					<div>
						<label>
							<span tt='wiki'></span>
							<select v-model="h.header.kind.WikiPage.wiki" @change="update_wiki(h)">
								<option value="" tt="no_default_namespace"></option>
								<option v-for="site in wiki_namespaces.site_list" :value="site.wiki">{{site.label}}</option>
							</select>
						</label>
					</div>

					<div tt_title="namespace_column">
						<div v-if="typeof ns[h.header.kind.WikiPage.wiki]!='undefined'">
							<span tt="namespace"></span>
							<select v-model="h.header.kind.WikiPage.ns_id">
								<option tt="no_default_namespace" value="null"></option>
								<option v-for="v,k in ns[h.header.kind.WikiPage.wiki]" v-if="k>=0" :value="k" @click="wp_namespace_changed(h)">{{k}}: {{v.canonical??main_namespace_placeholder}}</option>
							</select>
						</div>
						<div v-else>
							<div><label><span tt='namespace_id'></span> <input type='text' v-model='h.header.kind.WikiPage.ns_id' /></label></div>
							<div><label><span tt='ns_prefix'></span> <input type='text' v-model='h.header.kind.WikiPage.ns_prefix' /></label></div>
						</div>
					</div>

				</div>
				<div v-else-if="h.header.kind=='PlainText'">
					<div class="header-box-subtitle"><span tt="column_type"></span>: <span tt="plain_text"></span></div>
				</div>
				<div v-else-if="h.header.kind=='Int'">
					<div class="header-box-subtitle"><span tt="column_type"></span>: <span tt="int_type"></span></div>
				</div>
				<div v-else-if="h.header.kind=='Float'">
					<div class="header-box-subtitle"><span tt="column_type"></span>: <span tt="float_type"></span></div>
				</div>
				<div v-else>
					UNKNOWN: {{h}}
				</div>
			</div>

			<div class="header-mapping">
				<div v-for="pair in h.mapping" class="header-mapping-row">
					<input v-if="header_options.length==1" type="text" v-model="pair[0]" readonly class="readonly" tt_title="only_one_option" />
					<select v-else-if="header_options.length>0" v-model="pair[0]">
						<option v-for="h in header_options" :value="h">{{h}}</option>
					</select>
					<input v-else type="text" v-model="pair[0]" />

					<span v-if="header_has_parts(h)">&rArr;</span>

					<select v-if="typeof h.header.kind.WikiPage!='undefined'" v-model="pair[1]">
						<option value="title" tt="wp_title"></option>
						<option value="prefixed_title" tt="wp_prefixed_title"></option>
						<option value="ns_id" tt="wp_ns_id"></option>
						<option value="ns_prefix" tt="wp_ns_prefix"></option>
						<option value="page_id" tt="wp_page_id"></option>
						<option value="wiki" tt="wp_wiki"></option>
						<option value="entity_url" tt="wp_entity_url"></option>
					</select>
					<span v-else-if="h.header.kind=='PlainText'"></span>
					<input v-else type="text" v-model="pair[1]" />
				</div>
			</div>
		</div>
	</div>
</div>
</template>

<script>
'use strict';

Vue.component ( 'header-mapping' , {
	template : '#header-mapping-template' ,
	props : [ 'header_mapping','header_options','can_edit' ] ,
	data : function () { return { ns:{} , main_namespace_placeholder:'' } } ,
	created : function () {
		let self = this;
		self.main_namespace_placeholder = tt.t('main_namespace_placeholder');
		for (let i = 0; i < this.header_mapping.data.length ; i++ ) {
			let h = this.header_mapping.data[i];
			this.update_wiki(h);
		}
	} ,
    updated : function () { tt.updateInterface(this.$el) ; } ,
    mounted : function () { tt.updateInterface(this.$el) ; } ,
	methods : {
		update_wiki(h) {
			if ( typeof h.header.kind.WikiPage=='undefined' ) return ;
			let self = this;
			let wiki = h.header.kind.WikiPage.wiki;
			if ( wiki!='' ) wiki_namespaces.load_wiki(wiki,function(j){ Vue.set(self.ns,wiki,j); });
		},
		header_has_parts(h) {
			return h.header.kind!='PlainText';
		},
		edit_string(s) {
			let ns = prompt(tt.t('new_value'), s);
			if ( ns==null ) return s;
			if ( s!=ns ) this.$emit('data-changed',this.header_mapping) ;
			return ns;
		},
		wp_namespace_changed(h) {
			let new_namespace_prefix = this.ns[h.header.kind.WikiPage.wiki][h.header.kind.WikiPage.ns_id].canonical??'';
			h.header.kind.WikiPage.ns_prefix = new_namespace_prefix;
		}
	}
} ) ;
</script>
