<style>
table.parameters td {
	border: none;
}
</style>

<template id='node-editor-template'>
<div class="card" style="margin-top:1rem;">
	<div class="card-body" :key="'node_'+node_id">
		<div style="float:right;">
			<button class="btn btn-outline-danger" tt="delete_node" @click.prevent.stop="delete_node()"></button>
		</div>
		<h5 class="card-title">Node #{{node_id+1}}: {{n.kind}}</h5>
		<div class="card-text">
			<table class="table">

				<tr>
					<th tt="parameters"></th>
					<td style="width: 100%;">
						<table v-if="typeof external_ids.kind2params(n.kind)!='undefined'" class="parameters">
							<tbody>
								<tr v-for="param in external_ids.kind2params(n.kind)">
									<td :tt="param.label??param.key"></td>
									<td v-if="param.tag=='wiki'">
										<select v-model="n.parameters[param.key]" @change='parameter_has_changed()'>
											<option v-for="site in wiki_namespaces.site_list" :value="site.wiki">{{site.label}}</option>
										</select>
									</td>
									<td v-if="param.tag=='text'">
										<input type="text" v-model="n.parameters[param.key]" @change='parameter_has_changed()'/>
									</td>
									<td v-else-if="param.tag=='textarea'" style="width: 100%;">
										<textarea v-model="n.parameters[param.key]" style="margin-left: 1rem;width: 100%;" @change='parameter_has_changed()'></textarea>
									</td>
								</tr>
							</tbody>
						</table>
						<div v-else-if="n.kind=='Join'">
							<div v-if="n.parameters.mode=='inner_join_on_key'">
								<label><span tt='join_key'></span> <input type="text" v-model="n.parameters.join_key" @change='parameter_has_changed()'/></label>
							</div>
							<div v-if="n.parameters.mode=='merge_unique'">
								<label><span tt='join_key'></span> <input type="text" v-model="n.parameters.join_key" @change='parameter_has_changed()'/></label>
							</div>
							<div v-else>
								UNKNOWN JOIN MODE {{n.parameters.mode}}
							</div>
						</div>

						<div v-else-if="n.kind=='Generator'">
							<div v-if="n.parameters.mode=='wikipage'">
								<table>
									<tr>
										<td tt="wiki"></td>
										<td>
											<select v-model="n.parameters.wiki" @change="parameter_has_changed()">
												<option v-for="site in wiki_namespaces.site_list" :value="site.wiki">{{site.label}}</option>
											</select>
										</td>
									</tr>
									<tr>
										<td tt="page"></td>
										<td>
											<label>
												<input type="text" v-model="n.parameters.page" style="width: 30rem;" @change='parameter_has_changed()'/>
											</label>
										</td>
									</tr>
								</table>
							</div>
							<div v-else>
								UNKNOWN JOIN MODE {{n.parameters.mode}}
							</div>
						</div>

						<div v-else-if="n.kind=='FilterPetScan'">
							<table>
								<tbody>
									<tr>
										<td tt="filter_key"></td>
										<td><input type="text" v-model="n.parameters.key" @change='parameter_has_changed()'/></td>
									</tr>
									<tr>
										<td tt="filter_psid"></td>
										<td><input type="text" v-model="n.parameters.psid" @change='parameter_has_changed()'/></td>
									</tr>
								</tbody>
							</table>
						</div>

						<div v-else-if="n.kind=='Filter'">
							<table>
								<tbody>
									<tr>
										<td tt="filter_key"></td>
										<td><input type="text" v-model="n.parameters.key" @change='parameter_has_changed()'/></td>
									</tr>
									<tr>
										<td tt="filter_subkey"></td>
										<td>
											<select v-model="n.parameters.subkey" @change='parameter_has_changed()'>
												<option value="" tt="n_a"></option>
												<option value="title" tt="wp_title"></option>
												<option value="prefixed_title" tt="wp_prefixed_title"></option>
												<option value="ns_prefix" tt="wp_ns_prefix"></option>
												<option value="wiki" tt="wp_wiki"></option>
												<option value="ns_id" tt="wp_ns_id"></option>
												<option value="page_id" tt="wp_page_id"></option>
											</select>
											<i tt="filter_subkey_note"></i>
										</td>
									</tr>
									<tr>
										<td tt="filter_operator"></td>
										<td>
											<select v-model="n.parameters.operator" @change='parameter_has_changed()'>
												<option value="Equal">=</option>
												<option value="Unequal">!=</option>
												<option value="LargerThan">&gt;</option>
												<option value="SmallerThan">&lt;</option>
												<option value="LargerOrEqualThan">>=</option>
												<option value="SmallerOrEqualThan"><=</option>
												<option value="Regexp" tt="regular_expression"></option>
											</select>
										</td>
									</tr>
									<tr>
										<td tt="filter_value"></td>
										<td><input type="text" v-model="n.parameters.value" @change='parameter_has_changed()'/></td>
									</tr>
									<tr>
										<td tt="filter_remove_matching"></td>
										<td><input type="checkbox" v-model="n.parameters.remove_matching" @change='parameter_has_changed()'/></td>
									</tr>
								</tbody>
							</table>
						</div>

						<div v-else>
							<div>UNKNOWN TYPE {{n.kind}}</div>
							{{n}}
						</div>
					</td>
				</tr>

				<tr v-if="potential_inputs()>0">
					<th tt="inputs"></th>
					<td>
						<table v-if="inputs.length>0">
							<thead>
								<tr>
									<th tt="input_slot"></th>
									<th tt="input_node"></th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="input_node_id,slot in inputs">
									<td>
										#{{slot+1}}
									</td>
									<td>
										#{{input_node_id+1}} {{json.nodes[input_node_id].kind}}
									</td>
									<td>
										<button class="btn btn-sm btn-outline-danger" tt="remove_input" @click.prevent.stop="remove_edge(input_node_id)"></button>
									</td>
								</tr>
							</tbody>
						</table>
						<div v-if="potential_inputs()>inputs.length">
							<select v-model="new_source_node">
								<option v-for="i in potential_outputs()" :value="i.source_node">
									{{i.name}}
								</option>
							</select>
							<button class="btn btn-outline-success" tt="add_input" @click.prevent.stop="add_input"></button>
						</div>
					</td>
				</tr>

				<tr v-if="n.header_mapping.data.length>0">
					<th tt="output_mapping"></th>
					<td style="max-width: 20rem;">
						<header-mapping :header_mapping="n.header_mapping" :header_options='header_options' :can_edit='can_edit' @data-changed='header_data_changed(n,$event)' @add-output-mapping='add_output_mapping($event)' :key="JSON.stringify(n.header_mapping)+JSON.stringify(n.header_options)"></header-mapping>
					</td>
				</tr>
			</table>


		</div>
	</div>
</div>
</template>

<script>
'use strict';

Vue.component ( 'node-editor' , {
	template : '#node-editor-template' ,
	props : [ 'json','node_id','external_headers','can_edit' ] ,
	data : function () { return { n:{} , inputs:[] , header_options:[] , new_source_node:0 } } ,
	created : function () {
		this.n = this.clone_node(this.node_id);
		this.calculate_inputs();
		this.set_header_ids();
		current_node_data = this.n;
	} ,
    updated : function () { tt.updateInterface(this.$el) ; } ,
    mounted : function () { tt.updateInterface(this.$el) ; } ,
	methods : {
		clone_node(node_id) {
			return JSON.parse(JSON.stringify(this.json.nodes[node_id]));
		},
		potential_inputs() {
			if ( this.n.kind=="Join" ) return Number.MAX_SAFE_INTEGER;
			if ( this.n.kind=="Filter" ) return 1;
			if ( this.n.kind=="FilterPetScan" ) return 1;
			if ( this.n.kind=="Generator" ) return 1;
			return 0;
		},
		potential_outputs() {
			let self = this ;
			let ret = [];
			(self.json.nodes??[]).forEach ( function(node,node_id) {
				if ( node_id==self.node_id ) return ;
				let o = {source_node:node_id, name:"#"+(node_id+1)+" "+node.kind };
				ret.push(o);
			});
			return ret;
		},
		add_output_mapping(kind) {
			if ( kind=='PlainText' ) {
				let nh = {header:{kind,name:"text"},mapping:[['','']]};
				this.n.header_mapping.data.push(nh);
			} else alert ( "Cannot add output header mapping type '"+kind+"'" );
		},
		add_input() {
			let edge = { source_node:this.new_source_node , target_node:this.node_id, target_slot:this.inputs.length };
			this.$emit('add-edge',edge) ;
		},
		remove_edge(input_node_id) {
			this.$emit('remove-edge',{source_node:input_node_id,target_node:this.node_id}) ;
		},
		parameter_has_changed() {
			if ( this.n.kind=='AListBuilding' ) {
				let old_wiki = this.n.header_mapping.data[0].header.kind.WikiPage.wiki;
				let new_wiki = this.n.parameters.a_list_building_tool_wiki;
				if ( new_wiki!='' && new_wiki!=old_wiki ) {
					this.n.header_mapping.data[0].header.kind.WikiPage.wiki = new_wiki;
				}
			// } else if ( this.n.kind=='PetScan' ) {
			// 	this.set_header_ids();
			} else if ( this.n.kind=='PagePile' ) {
				this.set_header_ids();
			}
		},
		calculate_inputs() {
			this.inputs = [];
			for ( let edge_id = 0 ; edge_id<this.json.edges.length ; edge_id++ ) {
				let e = this.json.edges[edge_id];
				if ( e.target_node==this.node_id ) this.inputs[e.target_slot] = e.source_node;
			}
		},
		set_header_ids() {
			let self = this;
			external_ids.load_node(self.n,function(header_options){
				// console.log(JSON.stringify(header_options));
				if ( (header_options.wiki??'')!='' ) {
					if ( self.n.kind=='PagePile' ) self.n.header_mapping.data[0].header.kind.WikiPage.wiki = header_options.wiki;
				}
				self.header_options = header_options.header;
			});
		},
		delete_node() {
			this.$emit('delete-node',this.node_id) ;
		},
		header_data_changed(n,e) {
			this.header_mapping = e;
		}
	}
} ) ;
</script>
