<style>
div.connector_right {
    border-right: 1px solid black;
}
div.connector_left {
    border-left: 1px solid black;
}
div.connector_bottom {
    border-bottom: 1px solid black;
}
div.node {
    border:1px solid #DDD;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    padding: 2px;
}
div.node:hover {
    border:1px solid gold;
}
div.node-title {
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #DDD;
    background-color: #D7EEFF;
}
div.node-body {
    font-size: 9pt;
    line-height: 100%;
    width: 100%;
    position: absolute;
    top: 20pt;
    bottom: 25px;
    overflow: auto;
}
div.node-output {
    border-top: 1px solid #DDD;
    font-size: 9pt;
    line-height: 100%;
    position: absolute;
/*    height: 20px;*/
    bottom: 2px;
    left: 0px;
    right: 0px;
    padding: 2px;
    overflow: auto;
}
div.node-output-row {
    border-bottom: 1px dotted #AAA;
}
span.node-output {
    margin-right: 5px;
    border-right: 1px solid #DDD;
}
span.node-output:last-of-type {
    border-right: none;
}
div.node-selected {
    border: 3px solid #FFCCE1 !important;
}
div.node-file-rows {
    text-align: center;
/*    margin-top: 0.3rem;*/
/*    border-top: 1px dotted #AAA;*/
}
div.run-box {
    float: right;
    border: 1px solid #DDD; 
    padding: 1px; 
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}
</style>

<template id='workflow-template'>
<div class='container' id='workflow-container'>
    <div v-if="typeof workflow.name!='undefined'">
        <div style="float:right">
            <button v-if="was_edited" class="btn btn-outline-primary" @click.prevent="save_workflow()" tt="save_changes"></button>
            <button v-if="workflow.state=='PUBLISHED'" type="button" class="btn btn-primary" tt="pubished"></button>
            <button v-if="workflow.state=='DRAFT'" type="button" class="btn btn-secondary" tt="draft"></button>
        </div>
        <h2>
            {{workflow.name}}
            <small v-if='can_edit()'><a href='#' @click.prevent='workflow.name=edit_string(workflow.name)'>✎</a></small>
        </h2>
        <div style="height: 3.5rem;">
            by 
            <a :href="'https://www.wikidata.org/wiki/Special:CentralAuth/'+encodeURIComponent(users[workflow.user_id].name)" target="_blank" class="wikidata">{{users[workflow.user_id].name}}</a>
            <div v-if="run_id>-1" class="run-box">
                <span tt="run"></span>
                #<router-link :to="'/run/'+run_id">{{run_id}}</router-link>

                <button v-if="run.status=='DONE'||run.status=='CANCEL'||run.status=='FAIL'" class="btn btn-outline-primary" tt="start" @click.prevent.stop="save_and_run_workflow()"></button>
                <button v-else-if="run.status=='RUN'" class="btn btn-outline-danger" tt="cancel" @click.prevent.stop="cancel_run()"></button>
                
                <span v-if="run.status=='DONE'" class="badge badge-success">{{run.status}}</span>
                <span v-else-if="run.status=='WAIT'" class="badge badge-secondary">{{run.status}}</span>
                <span v-else-if="run.status=='RUN'" class="badge badge-primary">{{run.status}}</span>
                <span v-else-if="run.status=='FAIL'" class="badge badge-danger">{{run.status}}</span>
                <span v-else-if="run.status=='CANCEL'" class="badge badge-warning">{{run.status}}</span>
                <span v-else class="badge badge-light">{{run.status}}</span>

                <span style="font-family: Courier; margin-left: 1rem;">
                    {{run.nodes_done}}/{{run.nodes_total}}
                </span>
            </div>
        </div>

        <div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <span class="navbar-brand" tt="add_new_node"></span>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tt="tools"></a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a v-for="kind in new_tools" class="dropdown-item" href="#" @click.prevent="new_node(kind)">{{kind}}</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tt="joins"></a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#" @click.prevent="new_node('Join/inner_join_on_key')" tt="inner_join_on_key"></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div v-if='layout_done'>
            <!-- {{workflow.json.nodes}} -->
            <div v-if="current_node_id>-1">
                <node-editor :key="'node_container_'+current_node_id" :json="workflow.json" :external_headers="external_headers" :node_id="current_node_id" :can_edit='can_edit()'></node-editor>
            </div>
        </div>

        <div v-if='layout_done' :style="'width:'+screen_width+'px;height:'+screen_height+'px;border:1px solid #DDD;padding:2px;position:relative;'" @click.prevent.stop="set_current_node(-1)">
            <div v-for='e in layout.edges' :style="'position:absolute; top:'+e.y+'px;left:'+e.x+'px;width:'+e.w+'px;height:'+(e.h/2)+'px;'" :class="e.classname1+' connector_bottom edge'"></div>

            <div v-for='e in layout.edges' :style="'position:absolute; top:'+(e.y+e.h/2)+'px;left:'+e.x+'px;width:'+e.w+'px;height:'+(e.h/2)+'px;'" :class="e.classname2+' edge'"></div>

            <div v-for='n,node_id in layout.nodes' :style="'position:absolute; top:'+n.y+'px;left:'+n.x+'px;width:'+n.w+'px;height:'+n.h+'px;'" :class="'node'+(node_id==current_node_id?' node-selected':'')" @click.prevent.stop="set_current_node(node_id)">
                <div class="node-title">
                    <div style="float:right;" v-if='node_ext_url(workflow.json.nodes[n.node_id])!=""'>
                        <a :href="node_ext_url(workflow.json.nodes[n.node_id])" target="_blank" class="external" tt_title="external_source" @click.stop=''>&#x1f517;</a>
                    </div>
                    #{{n.node_id+1}} {{workflow.json.nodes[n.node_id].kind}}
                </div>
                <div class="node-body">
                    <div v-if="workflow.json.nodes[n.node_id].kind=='Sparql'">
                        <div>{{workflow.json.nodes[n.node_id].parameters.sparql}}</div>
                    </div>
                    <div v-else-if="workflow.json.nodes[n.node_id].kind=='QuarryQuery'">
                        Query {{workflow.json.nodes[n.node_id].parameters.quarry_query_id}}
                    </div>
                    <div v-else-if="workflow.json.nodes[n.node_id].kind=='PetScan'">
                        PSID {{workflow.json.nodes[n.node_id].parameters.psid}}
                    </div>
                    <div v-else-if="workflow.json.nodes[n.node_id].kind=='PagePile'">
                        PagePile ID {{workflow.json.nodes[n.node_id].parameters.pagepile_id}}
                    </div>
                    <div v-else-if="workflow.json.nodes[n.node_id].kind=='AListBuildingTool'">
                        {{workflow.json.nodes[n.node_id].parameters.a_list_building_tool_wiki}}
                        /
                        {{workflow.json.nodes[n.node_id].parameters.a_list_building_tool_qid}}
                    </div>
                    <div v-else-if="workflow.json.nodes[n.node_id].kind=='Join'">
                        <div>{{workflow.json.nodes[n.node_id].parameters.mode.replace(/_/g,' ')}}</div>
                        <div>on <i>{{workflow.json.nodes[n.node_id].parameters.join_key}}</i></div>
                    </div>
                    <div v-else>
                        {{workflow.json.nodes[n.node_id]}}
                    </div>
                </div>
                <div class="node-output">
                    <div v-if="workflow.json.nodes[n.node_id].header_mapping.data.length>0" class="node-output-row">
                        <span>&rArr;</span>
                        <span v-for="data in workflow.json.nodes[n.node_id].header_mapping.data" class="node-output">
                            {{data.header.name}}
                        </span>
                    </div>
                    <div v-if="typeof (files[n.node_id]??{}).uuid!='undefined'" class="node-file-rows">
                        <a :href="'/#/file/'+files[n.node_id].uuid" target="_blank" tt_title="output_file" @click.stop=''>
                            {{Intl.NumberFormat().format(files[n.node_id].rows-1)}} data rows
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
'use strict';

let current_node_data = {};

let Workflow = Vue.extend ( {
    props : ['id'] ,
    data : function () { return { workflow:{} , users:{} , current_node_id:-1 , external_headers:{'':{'':[]}}, was_edited:false, 
            new_tools:['AListBuildingTool','PagePile','PetScan','QuarryQuery','Sparql'],
            run_id:-1, run:{}, files:[],
            layout:{} , layout_done:false, screen_width: 1024, screen_height: 512,
     } } ,
    created : function () {
        if ( typeof this.id!='undefined' ) this.load_workflow(this.id);
        else this.create_new_workflow();
    } ,
    updated : function () { tt.updateInterface(this.$el) ; } ,
    mounted : function () { tt.updateInterface(this.$el) ; } ,
    methods : {
        load_workflow(id) {
            this.run = {};
            this.run_id = -1;
            this.files = [];
            this.current_node_id = -1;
            current_node_data = {};
            this.was_edited = false;
            const myRequest = new Request("./api.php?action=get_workflow&id="+id);
            fetch(myRequest)
                .then((response) => response.json())
                .then((data) => {
                    // console.log(JSON.parse(JSON.stringify(data)));
                    this.users = data.users;
                    this.workflow = data.workflow;
                    this.run_layout();
                    // this.current_node_id = 0; // TESTING
                    this.run_id = data.last_run_id??-1;
                    if ( this.run_id>-1 ) {
                        this.load_run();
                    }
                })
                .catch(console.error);
        },
        new_node(key) {
            let kind = key.replace(/\/.*$/,'');
            let node = external_ids.new_node(kind);

            if ( kind=="Join" ) {
                node.parameters.mode = key.replace(/^.+\//,'');
                if ( node.parameters.mode=="inner_join_on_key" ) node.parameters.join_key = '';
            }

            this.workflow.json.nodes.push(node);
            this.files.push(undefined);
            this.was_edited = true;
            this.run_layout();
            this.set_current_node(this.workflow.json.nodes.length-1);
        },
        create_new_workflow() {
            const myRequest = new Request("./api.php?action=create_new_workflow");
            fetch(myRequest)
                .then((response) => response.json())
                .then((data) => {
                    this.$router.replace('/workflow/'+data.workflow_id);
                })
                .catch(console.error);

        },
        node_ext_url(n) {
            return external_ids.node_ext_url(n);
        },
        load_run(callback) {
            if ( this.run_id<0 ) return ;
            const myRequest = new Request("./api.php?action=get_run&id="+this.run_id);
            fetch(myRequest)
                .then((response) => response.json())
                .then((data) => {
                    this.run = data.run;
                    this.files = data.files;
                    // console.log(JSON.parse(JSON.stringify(data)));
                    if ( typeof callback!='undefined' ) callback();
                })
                .catch(console.error);
        },
        save_and_run_workflow() {
            let self = this;
            if ( typeof this.workflow.id=='undefined' ) return alert("No workflow ID");
            this.update_current_node();
            if ( this.was_edited ) return this.save_workflow(function(){self.save_and_run_workflow()});
            if ( this.run_id<0 ) return this.create_new_run();
            this.start_run();
        },
        create_new_run() {
            // TODO
            alert("create_new_run not implemented");
            // THEN: this.save_and_run_workflow();
        },
        start_run() {
            let nodes_to_reset = []; // TODO just the required ones
            let nodes = this.workflow.json.nodes;
            for ( let node_id = 0 ; node_id<nodes.length ; node_id++ ) nodes_to_reset.push(node_id);

            const myRequest = new Request("./api.php?action=start_run&id="+this.run_id+"&reset_nodes="+JSON.stringify(nodes_to_reset));
            fetch(myRequest)
                .then((response) => response.json())
                .then((data) => {
                    // console.log(JSON.parse(JSON.stringify(data)));

                    let self = this;
                    function keep_updating() {
                        self.load_run(function(){
                            if ( self.run.status=='DONE' || self.run.status=='FAIL' ) return ;
                            setTimeout(keep_updating,1000);
                        });
                    }
                    keep_updating();
                })
                .catch(console.error);            
        },
        save_workflow(callback) {
            if ( typeof this.workflow.id=='undefined' ) return alert("No workflow ID");
            this.update_current_node();
            const myRequest = new Request("./api.php?action=set_workflow&workflow="+encodeURIComponent(JSON.stringify(this.workflow)));
            fetch(myRequest)
                .then((response) => response.json())
                .then((data) => {
                    this.was_edited = false;
                    if ( typeof callback!='undefined' ) callback();
                })
                .catch(console.error);
        },
        update_current_node() {
            if ( this.current_node_id>-1 ) {
                let j_old = this.workflow.json.nodes[this.current_node_id];
                let j_new = current_node_data;
                if ( JSON.stringify(j_old) != JSON.stringify(j_new) ) {
                    // console.log(JSON.stringify(j_new));
                    this.workflow.json.nodes[this.current_node_id] = JSON.parse(JSON.stringify(j_new));
                    this.was_edited = true;
                }
            }
        },
        cancel_run() {
            const myRequest = new Request("./api.php?action=cancel_run&id="+this.run_id);
            fetch(myRequest)
                .then((response) => response.json())
                .then((data) => {
                    console.log(JSON.parse(JSON.stringify(data)));
                })
                .catch(console.error);            
        },
        set_current_node(node_id) {
            if ( node_id==this.current_node_id ) return;
            this.update_current_node();
            this.current_node_id = node_id;
            return false;
        },
        edit_string(s) {
            let ns = prompt(tt.t('new_value'), s);
            if ( ns==null ) return s;
            if ( s!=ns ) this.was_edited = true;
            return ns;
        },
        run_layout() {
            this.screen_width = $('#workflow-container').width();
            this.layout_done = false;
            this.layout = { nodes:[] , edges:[] };

            let nodes = this.workflow.json.nodes;
            let edges = this.workflow.json.edges;
            for ( let node_id = 0 ; node_id<nodes.length ; node_id++ ) {
                let n = nodes[node_id];
                //console.log(JSON.stringify(n));
                let o = { node_id:node_id , row:0 , col:node_id , calc_cols:[] };
                this.layout.nodes.push(o);
            }

            let max_row = 0;
            for ( let edge_id = 0 ; edge_id<edges.length ; edge_id++ ) {
                let e = edges[edge_id];
                if ( this.layout.nodes[e.target_node].row <= this.layout.nodes[e.source_node].row ) {
                    this.layout.nodes[e.target_node].row = this.layout.nodes[e.source_node].row + 1;
                    if ( max_row<this.layout.nodes[e.target_node].row ) max_row=this.layout.nodes[e.target_node].row;
                }
                let o = { source:e.source_node , target:e.target_node };
                this.layout.edges.push(o);
            }

            for ( let edge_id = 0 ; edge_id<edges.length ; edge_id++ ) {
                let e = edges[edge_id];
                this.layout.nodes[e.target_node].calc_cols.push(this.layout.nodes[e.source_node].col);
            }

            let node_width = this.screen_width/(nodes.length+1); 
            let node_height = this.screen_height/(max_row+2);

            let max_x = 0;
            for ( let node_id = 0 ; node_id<nodes.length ; node_id++ ) {
                let n = this.layout.nodes[node_id];
                if ( n.calc_cols.length>0 ) {
                    let sum = 0 ;
                    n.calc_cols.forEach(function(item, index) { sum += item ; });
                    n.col = sum/n.calc_cols.length;
                }
                n.x = Math.floor(n.col * (this.screen_width/nodes.length))+2;
                n.w = Math.floor(node_width)+2;
                n.y = Math.floor(n.row * (this.screen_height/(max_row+1)));
                n.h = Math.floor(node_height);
                if ( max_x < n.x+n.w ) max_x = n.x+n.w ;
            }

            let margin_left = Math.floor ( ( this.screen_width - max_x ) / 2 ) ;
            for ( let node_id = 0 ; node_id<nodes.length ; node_id++ ) {
                this.layout.nodes[node_id].x += margin_left ;
                this.layout.nodes[node_id].y += 2 ;
            }

            for ( let edge_id = 0 ; edge_id<edges.length ; edge_id++ ) {
                let e = this.layout.edges[edge_id];
                let ns = this.layout.nodes[e.source];
                let nt = this.layout.nodes[e.target];
                e.x = Math.floor(ns.x+ns.w/2);
                e.y = ns.y+ns.h;
                e.w = nt.x-ns.x;
                e.h = nt.y-ns.y-ns.h;
                e.classname1 = "connector_left";
                e.classname2 = "connector_right";

                if ( e.w < 0 ) {
                    e.x += e.w ;
                    e.w = -e.w ;
                    e.classname1 = "connector_right";
                    e.classname2 = "connector_left";
                }
            }

            this.layout_done = true;
        },
        can_edit() {
            return ( widar.userinfo.id??0==this.workflow.user_id );
        },
        is_logged_in() {
            return widar.is_logged_in;
        }
    } ,
    template:'#workflow-template'
} ) ;
</script>
